
  <div class="container pt-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-5">
        <div class="card" style="border-radius: 1rem; background-color: #cec7c8;">
          <div class="row g-0">
            <div class="col-md-12 col-lg-12 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form>
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0" style="color: #6e6b6c">Sign in</span>
                    <i class="fas fa-sign-in-alt fa-2x px-3" style="color: #8d898a;"></i>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example17" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17" style="color: #6e6b6c">Email address</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27" style="color: #6e6b6c">Password</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-lg btn-block" style="background-color:#ada9a9; color: #eeeced" type="button">Login</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
