<footer class="text-center text-lg-start bg-light fixed-bottom">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
          © 2021 Copyright. All Rights reserved
      </div>
      <!-- Right -->
      <div>
        <a href="https://www.instagram.com/laariza/?hl=es" target="_blank" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/laab/" target="_blank" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/adrianaariza" target="_blank" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </section>
</footer>