<h1 class="container pt-6"><%= title %></h1>
  <p class="container pt-6 text-muted">Welcome! Please explore the website to know more about me and my job, and go to the 
    <a href="/contactme">contact me</a> page to obtain more info.</p>


<div class="container pt-6 mb-6 h-75">
    <div class="row">
      <a class="col-md-6 col-mp" href="/about">
        <div>About Me</div></a>
      <a class="col-md-6 col-mp img-projects" href="/projects">
        <div>Projects</div></a>
    </div>
    <div class="row">
      <a class="col-md-6 col-mp img-services" href="/services">
        <div>Skills</div></a>
      <a class="col-md-6 col-mp img-contact_me" href="/contactme">
        <div>Contac Me</div></a>
    </div>
  </div>
