
<div class="container col-md-8 pt-5">
<div class="table-responsive col-md-12">

<table class="table table-bordered table-striped table-hover table-condensed  text-center" id="DyanmicTable">
  <thead>
    <tr>
      <th class="text-center">
        Full Name
      </th>
      <th class="text-center">
        WebSite
      </th>
      <th class="text-center">
        Contact No
      </th>
      <th class="text-center">
        Update/Delete
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        John M
      </td>
      <td>
        http://john-m.com
      </td>
      <td>
        9876543210
      </td>
      <td>
        <button id="addNewRow" class="btn btn-secondary btn-sm">Update</button>
        <button id="addNewRow" class="btn btn-secondary btn-sm">Delete</button>
      </td>
    </tr>
    
  </tbody>
</table>
</div>
</div>
