<h1 class="container pt-6">
  <%= title %>
</h1>
<p class="container pt-6">Here some of the projects and companies I have worked in</p>

<div class="container slides">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators pt-3">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <img src="/Assets/images/projects/easy chat.png" class="d-block w-100">
        </div>
        <div class="col-md-5">
          <h5>EasyChat</h5>
          <p>EasyChat is an app that uses an AI model (NLP) that translates conversations in real-time, helping people
             who don't speak the same language to communicate efficiently..
          </p>
          <a href="https://github.com/MultingualChat" target="_blank"><i class="fab fa-github"> easyChat</i></a>
        </div>
          <div class="col-md-1"></div>
      </div>
      </div>
    <div class="carousel-item" data-bs-interval="2000">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <img src="/Assets/images/projects/td.png" class="d-block w-100">
        </div>
        <div class="col-md-5">
          <h5>TD Bank</h5>
          <p><ul>
            <li>Write and deploy ETL PySpark scripts to query, process and transform data.</li>
            <li>Assist in the development/maintenance of comprehensive processes for prevention of issues
              and participate in problem determination and timely resolution of incidents applying appropriate
              quality measures</li>
            <li>Perform Unit and System Integration testing</li>
            <li>Participate in Proof of Concept (POC) on new technologies and document findings</li>
            <li>Conduct program/ system research, analysis, detailed design and problem resolution</li>
            <li>Ensure defect free programming by testing and debugging using available/appropriate tools and
              participate in reviewing peer coding</li>
            <li>Apply Software Development Life Cycle (SDLC) and Project Management Methodology (PMLC)
              to complete specific development tasks for projects.</li>
          </ul>
          <a href="https://www.td.com/ca/en/about-td/" target="_blank"><i class="fab fa-github"> TD Bank</i></a>
          </p>
        </div>
          <div class="col-md-1"></div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <img src="/Assets/images/projects/restaurant.png" class="d-block w-100">
      </div>
      <div class="col-md-5">
        <h5>delilahResto</h5>
        <p>delilahResto is RestFul API, for a restaurant in which there are exposed diferent GET, POST and PUT services. 
          This API allows to manage a restaurant, view the menu, create an order, send an order, etc. This project was
          developed in node.js and MySql. This was an academic project you can check it in the link below.
        </p>
        <a href="https://github.com/AdrianaAriza/DelilahResto" target="_blank"><i class="fab fa-github"> delilahResto</i></a>
      </div>
        <div class="col-md-1"></div>
    </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <img src="/Assets/images/projects/rest-api.png" class="d-block w-100">
        </div>
        <div class="col-md-5">
          <h5>Backend Developer</h5>
          <p>Working as a backend developer in a FindTech, I created a service which allows users to register payments for 
            a specific loan or account. Once the payment was accepted, a register of a new payment was created in the database 
            as well as the loan and the outstanding amount were updated too. In this implementation were used Django, postgress, 
            s3, and Dynamo</p>
          </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <img src="/Assets/images/projects/gifos.png" class="d-block w-100">
        </div>
        <div class="col-md-5">
          <h5>gifOs</h5>
          <p>gifOs is also an academic project, in which you can create your own gif and uploaded to check it after.
            It also get gifs from a gif API and using the search bar you can find any kind of gifs. 
            Please check the code and the project diployed in the links below.
          </p>
          <a href="https://github.com/AdrianaAriza/proyecto-gifos" target="_blank"><i class="fab fa-github"> gifOs</i></a>
          <br>
          <a href="https://adrianaariza.github.io/proyecto-gifos" target="_blank"><i class="fas fa-ad"></i> gifOs</i></a>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
