<h1 class="container pt-6"><%= title %></h1>
<div class="container pt-6 h-75">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-mp img-ai"><div>Artificial Intelligence</div></div>
  </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 col-mp img-rest"><div>RestFul APIs</div></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 col-mp img-script"><div>Scripting Algorithm</div></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 col-mp img-web"><div>Web Development</div></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 col-mp img-general"><div>General Programming</div></div>
    </div>
  </div>