<h1 class="container pt-6"><%= title %></h1>
  <h4 class="container pt-6">ajndfnsdfngsdfnsdnfdff sdfklskdfnjsndfmgnsdf,mn sdkjfgadugyladiufgajdgadg hakjhdgahg</h4>


<div class="container pt-6 h-75">
    <div class="row">
      <a class="col-md-6 col-mp" href="/about"><div>About Me</div></a>
      <a class="col-md-6 col-mp" href="/projects"><div>Projects</div></a>
    </div>
    <div class="row">
      <a class="col-md-6 col-mp" href="/services"><div>Services</div></a>
      <a class="col-md-6 col-mp" href="/contactme"><div>Contac Me</div></a>
    </div>
  </div>