<div class="container col-md-4 pt-5">
 
    <div class="column col-md-12">
        <form action="home" class="row g-3 needs-validation" novalidate>
            <div class="col-md-12 position-relative">
              <label for="name" class="form-label">First name</label>
              <input type="text" class="form-control" id="firstName" required>
              <div class="valid-tooltip">
                Looks good!
              </div>
              <div class="invalid-tooltip">
                Please write your name.
              </div>
            </div>
            <div class="col-md-12 position-relative">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control" id="lastName" required>
              <div class="valid-tooltip">
                Looks good!
              </div>
              <div class="invalid-tooltip">
                Please write your lastname
              </div>
            </div>
            <div class="col-md-12 position-relative">
              <label for="validationTooltipUsername" class="form-label">Email</label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                <input type="email" class="form-control" id="email" aria-describedby="validationTooltipUsernamePrepend" required>
                <div class="invalid-tooltip">
                  Please choose a valid email.
                </div>
                <div class="valid-tooltip">
                    Looks good!
                  </div>
              </div>
            </div>
            <div class="col-md-12 position-relative">
              <label for="phoneNumber" class="form-label">Contact number</label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="fas fa-phone-alt"></i></span>
                <input type="tel" class="form-control" id="phoneNumber" required>
                <div class="invalid-tooltip">
                  Please provide a valid number.
                </div>
                <div class="valid-tooltip">
                  Looks good!
                </div>
                </div>
            </div>
            <div class="col-12 pt-3">
              <button class="btn btn-secondary" type="submit" onclick="get_data()">Update</button>
              <button class="btn btn-secondary" type="submit" onclick="get_data()">Delete</button>
            </div>
          </form>
    </div>
  </div>