/* 
    contact_me.css 
    Luz Adriana Ariza Bustos: 301161864
    27-09-2021
*/

/* contact-me page style */
.contact-img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    max-width: 260px;
    max-height: 320px;
    padding-bottom: 5%;
}