/* 
    projects.css 
    Luz Adriana Ariza Bustos: 301161864
    27-09-2021
*/

/*projects page styles*/
.slides{
    padding: 5%;
}

.carousel-back{
    background-color: cadetblue;
}

.carousel-indicators {
    bottom:-70px;
  }

/* responsive */
  @media (max-width:900px){
    .carousel-indicators {
        bottom:-30px;
      }
}
